<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="bike_workshop"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.bikeworkshop.entity.Client</class>
        <class>com.company.bikeworkshop.entity.Worker</class>
        <class>com.company.bikeworkshop.entity.SparePart</class>
        <class>com.company.bikeworkshop.entity.Order</class>
    </persistence-unit>
</persistence>
